body{
    margin: 0;
    height: 100vh;
    
    justify-items:center;
    align-items: center;
    overflow: hidden;
    background: #fff;
    
}

svg{
    
    width: 100%;
    display: block;
    margin: 0 auto;
}